body {
    font-family: 'Roboto', sans-serif;
    color: #0E00CC;
    background-color: #B4FAFD;
}

.container{
    width: 96%;
    padding: 0 2%;
    margin: 0 auto;
}

.info, categories, .authors, .contact, .university {
    padding: 50px 0px;
}

.info {
    background-color: #0097A7;
    color: #fff;
}

.info .title {
    font-weight: 700;
    font-size: 72px;
}

.info .description {
    line-height: 26px;
}

.info .motto {
    font-weight: bold;
    font-style: italic;
    padding: 20px;
}

.categories {
    background-color: #e39362;
}

.categories .glyphicon {
    font-size: 52px;
    color: black;
}

.categories .glyphicon:hover {
    font-size: 58px;
    text-shadow: 0 0 15px #333;
    transition: 0.5s;
}

.frame{
    height: 60px;
    width: 60px;
    margin: 0 auto;
}

.autors {
    background-color: #5cc0bf;
}

.authors h2 {
    font-size: 36px;
    font-weight: 700;
}

.authors p {
    font-size: 16px;
    font-style: italic;
    padding: 30px 2%;
}

.authors .carousel .carousel-indicators {
    left: 0;
    margin-left: 0;
    width: 100%;
    text-align: right;
    bottom: 0;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    background: #fff;
}

.carousel-indicators .active {
    width: 22px;
    height: 22px;
    background: #000;
    border: 9px solid #fff;
}

.contact {
    background-color: #A35305;
    color: #fff;
}

.contact .btn {
    background-color: #fbb775;
    color: #552e08;
}


.university {
    background-color: #000;
    color: #fff;
}